@import "theme";

:host{
	margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oc-box{
    border: $line-thickness solid $border-color;
    background-color: $background-color;
    padding: 0.25em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oc-h-bar{
	border: 1px solid $border-color;
	height: 0.5em;
}

.oc-name{
	font-family: Bitter, serif;
	white-space: nowrap;
}

.oc-designation{
	font-family: Rajdhani, sans-serif;
	font-style: italic;
	white-space: nowrap;
}